les2
les1

les3/.vscode

les3/array.o
les3/a.out
les3/array
les3/BaseToVase
les3/clang-format
les3/expresion.o
les3/expresion
les3/test.cpp
les3/ManBearPig
les3/ManBearPig.cpp
les3/shevelev
les3/test
les3/test.o
les3/shevelev.cpp

les4/a.out
grid
grid.out
pow
prime
test
tmp
variadic

les5/1
les5/1.cpp
from_string
math_ex

les6/.vscode
les6/shevekev
les6/shevekev.cpp


